!!!
%html{:dir => "ltr", :lang => "es"}
  %head
    %meta{:charset => "utf-8"}/
    %link{:href => "/css/main.css", :rel => "stylesheet", :type => "text/css"}/
    %title Inicio
  %body
    .main-content
      %h2 Dashboard
      %p
        Ingresaste