!!!
%html{:dir => "ltr", :lang => "es"}
  %head
    %meta{:charset => "utf-8"}/
    %link{:href => "/css/main.css", :rel => "stylesheet", :type => "text/css"}/
    %title Inicio
  %body
    %nav
      %ul
        %li
          %a#inicio{:href => "/home/"} Inicio
        %li
          %button#boton-ingresar{:type => "button"}
            %a{:href => "/login/"} Ingresar
    .main-content
      %h2 Inicio
      %p
        Bienvenido para continuar de click en el boton ingresar
      