!!!
%html{:dir => "ltr", :lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Ingresar
    %link{:href => "/css/login.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %nav
      %ul
        
        %li
          %a#inicio{:href => "/home/"} Inicio
          %button#boton-ingresar{:type => "button"}
            %a{:href => "/login/"} Ingresar
    .login-page
      .form
        %form.login-form{:action => "/login", :method => "post"}
          %input{:name => "logemail", :placeholder => "Nombre", :required => "", :type => "text"}/
          %input{:name => "logpassword", :placeholder => "Contraseña", :required => "", :type => "password"}/
          %button#boton-entrar{:type => "submit"} Entrar